<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error {
            background-color: red;
            color: white;
        }
        .success {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    {{ if .error }}
        <p class="error">{{ .error }}</p>
    {{ end }}

    {{ if .success }}
        <p class="success">{{ .success }}</p>
    {{ end }}

    <h1>form upload</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" id="image">
        <button type="submit">upload</button>
    </form>

</body>
</html>